numpy
s3fs = <0.5.0
awscli
canvasapi
certifi
environs
pandas
openpyxl
gitpython
numpy
matplotlib
pyserial
django
npm
channels
fastparquet
python-daemon
websocket-client
websockets
sphinx
sphinx-rtd-theme
luigi
